.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 36px 25px 34px 26px;
  gap: 200px;
  background: #fff7ed;
}

.logo {
  color: #000;
  font-size: 25px;
  font-style: normal;
  font-weight: 900;
  text-decoration: none;
}

.header-container .navigation {
  min-width: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.25rem;
  padding: 0 5px;
}

.header-container .navigation a {
  color: #4d4d4d;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}

.header-container .navigation a {
  text-decoration: none;
}

.header-container .navigation a.active {
  color: #fff;
  background: #161616;
  padding: 6px 9px;
  border-radius: 6px;
  line-height: 23px;
}
